/* temporary css */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f2f2f2;
}
header {
  background-color: #b53f3f;
  padding: 1em;
  color: white;
  text-align: center;
}

header h1 {
  margin: 0;
}

main {
  padding: 2em;
}

form {
  display: inline-block;
  margin-top: 2em;
}

form input[type="text"],
form input[type="submit"] {
  padding: 0.5em;
  margin: 0.5em;
}

form input[type="submit"] {
  background-color: #b53f3f;
  color: white;
  border: none;
}

.countdown {
  margin-top: 2em;
  font-size: 3em;
  font-weight: bold;
}

footer {
  background-color: #f2f2f2;
  padding: 1em;
  text-align: center;
}
/* ********** */
.btn-sm {
  width: 19%;
}
